<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div class="container">

    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">방제목</label>
        </div>
        <input type="text" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" >채팅방 개설</button><!---->
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>